@model CCRS.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "An error occurred.";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Oops! An error occurred, but don't worry. Our team has been notified, and we will fix it soon!</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Titulo;

        <div>Aa
            <h2>@Html.Raw(Model.Mensagem)</h2>
        </div>

    }
}