@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 15px;"></div>

    <div class="alert alert-danger" alert-dismissible">
        <span type="button" class="btn-close" data-bs-dismiss="alert"></span>
        <h3 id="msgRetorno" style="padding-top: 20px">Oops! Something went wrong :(</h3>
        <div style="padding-top: 20px" asp-validation-summary="All" class="text-danger"></div>
    </div>
}